[submodule ".registry"]
	path = .registry
	url = https://github.com/marberts/universe
	shallow = true
	branch = HEAD
[submodule "gpindex"]
	path = gpindex
	url = https://github.com/marberts/gpindex
	shallow = true
	registered = true
[submodule "piar"]
	path = piar
	url = https://github.com/marberts/piar
	shallow = true
	registered = true
[submodule "sps"]
	path = sps
	url = https://github.com/marberts/sps
	shallow = true
	registered = true
[submodule "rsmatrix"]
	path = rsmatrix
	url = https://github.com/marberts/rsmatrix
	shallow = true
	registered = true
[submodule "ymq"]
	path = ymq
	url = https://github.com/marberts/ymq
	shallow = true
	registered = true
