[submodule ".registry"]
	path = .registry
	url = https://github.com/marberts/universe
	branch = HEAD
[submodule "gpindex"]
	path = gpindex
	url = https://github.com/marberts/gpindex
[submodule "piar"]
	path = piar
	url = https://github.com/marberts/piar
[submodule "sps"]
	path = sps
	url = https://github.com/marberts/sps
[submodule "rsmatrix"]
	path = rsmatrix
	url = https://github.com/marberts/rsmatrix
[submodule "ymq"]
	path = ymq
	url = https://github.com/marberts/ymq
